extends default

block content
  div#fecha
    p 
      b FECHA:
      | &nbsp; #{moment(fecha).format('DD/MM/YYYY')}
    p 
      b Codigo de Tramite:
      | &nbsp; #{codigo}
  div#planilla
    div.titleWithQR
      p#title
        b CONSTANCIA DE INSPECCION
      .QR
        img(src=datos.QR, alt='QR')
    div#text-input
      p &nbsp;!{datos.funcionario.informe}
    div
      p  
        b “DISCIPLINA Y ABNEGACIÓN”
        br
        b p/ DIRECCIÓN DE PREVENCIÓN, FISCALIZACIÓN E INVESTIGACIÓN
        br 
        b Vto. Bno.
    div#firma
      div.item-firma
        hr
        b PRIMER TENIENTE (B): LCDO. JUAN MORALES 
        br 
        b Director de Prevención
      div.item-firma
        hr
        b Capitán (B): Lcdo. ENGHERBERT ATENCIO 
        br 
        b Primer Comandante
      
