extends default

block content
  div
    p
      b EXP.:
      |  #{codigo}
    p
      b FECHA:
      |  #{moment(fecha).format('DD/MM/YYYY')}
  div 
    h1 REGISTRO REFERENCIAL DEL INMUEBLE 
  div 
    p DIRECCIÓN: #{datos.direccion}
    p PARROQUIA: #{datos.parroquia}
    P AREA DE TERRENO:
    P AREA DE CONSTRUCCIÓN: 
    p R.R INMUEBLE: 
