extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block title
block content
  div#planilla(style={'font-size':'13px'})
    div(style={'margin-bottom':'20px'})
      h2 REPORTE DE INGRESOS DETALLADO
    
block footer