//- extends default
html
  head
    title Template
    link(href='css/default.css' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="css/sedemat.css")
  body
    div#wrapper
      header#header
          div.header-child
            img#alcaldia(src='images/alcaldia-logo.png')
          div.header-child
            p REPÚBLICA BOLIVARIANA DE VENEZUELA
            p SUPERINTENDENCIA MUNICIPAL DE ADMINISTRACIÓN TRIBUTARIA DE SAN CRISTÓBAL (SUMATSC)
            //- p R.I.F.: #{rif}
          img#divider(src='images/franja-2.0.png')
      div#content
          div(style={'padding':'2% 5%', 'margin-top':'10px'}).all-border
            div(style={height:"280px", '-webkit-flex': '1', 'margin-top': '-10px'})
            img(src=QR, alt='QR', style={height:"100%"})