extends default
block css
  link(rel="stylesheet", href="css/sedemat.css")
block content
    div(style={'padding':'2% 5%', 'margin-top':'10px'}).all-border
        div(style={height:"280px", '-webkit-flex': '1', 'margin-top': '-10px'})
          img(src=QR, alt='QR', style={height:"100%"})\