#watermark {
  font-family: Arial, Helvetica, sans-serif;
  color: #d0d0d0;
  font-size: 50px;
  font-weight: bolder;
  font-size: 80px;
  text-align: center;
}

.banda-tramite {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
  margin-inline: 40px;
}

.container-data,
.row,
.titulo {
  margin-top: 45px;
  margin-bottom: 45px;
}

.con.container-data {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 65%;
}

.row {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
