html {
  zoom: 0.5;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#header,
#footer {
  width: 100%;
  height: 100px;
  display: flex;
  display: -webkit-flex;
}

#alcaldia,
#logo {
  width: 200px;
  object-fit: contain;
}

.header-child {
  padding: 10;
  flex: 2;
  -webkit-flex: 2;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.margin {
  margin-top: 100px;
}

.header-child > p {
  margin: 2;
  font-family: Helvetica;
  font-weight: bold;
}

.header-child:nth-child(1),
.header-child:nth-child(3) {
  flex: 1;
  -webkit-flex: 1;
}

.titleWithQR {
  display: flex;
  display: -webkit-flex;
  width: 90%;
  margin-bottom: 20px;
  align-items: center;
  -webkit-align-items: center;
}

#title {
  font-size: 20px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  margin-left: 6%;
}

.QR {
  padding: 2px 0;
  width: 110px;
  border: 1px solid lightgrey;
  height: 110px;
}

img#divider {
  width: 100%;
  height: 10px;
}

.divider {
  height: 4px;
  background-color: #1287ca;
  border: none;
}

#content {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 1;
  -webkit-flex: 1;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#content > p {
  margin: 5px 0;
  font-weight: bolder;
  font-size: 22px;
}

#content > p:nth-child(1) {
  text-decoration: underline;
}

#fecha {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 20px;
  margin: 10px 0px;
}

#fecha > p:nth-child(1) {
  margin-left: 50px;
}

#fecha > p:nth-child(2) {
  margin-right: 50px;
}

#planilla {
  width: 90%;
  height: 85%;
}
#text-input {
  text-align: justify;
}
#text-input div {
  display: flex;
}
#text-input div p {
  margin: 0;
  flex: 1;
}
#text-input div p + p {
  text-align: end;
}
.table {
  width: 100%;
  max-height: 95%;
  margin-top: 20px;
  border: 2px solid #1287ca;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#firma {
  margin-top: 60px;
  display: flex;
  display: -webkit-flex;
  font-size: 14px;
}

.text-center {
  text-align: center !important;
}

#firma + div {
  font-size: 14px;
  padding: 5% 30%;
}

#recaudos {
  margin: 50px 0;
  font-size: 14px;
}
#recaudos h3 {
  margin: 0;
}

#recaudos ol,
ul {
  text-align: left;
}
#recaudos ul {
  list-style-type: initial;
}
#recaudos ol li {
  padding-left: 15px;
  margin: 5px 0;
}

.item-firma {
  flex: 1;
  -webkit-flex: 1;
  margin: 25px;
}
.all-border {
  border: 1px solid #1287ca;
}

.border-right {
  border-right: 1px solid #1287ca;
}

.border-bottom {
  border-bottom: 1px solid #1287ca;
}

.underline {
  text-decoration: underline;
}

.th {
  width: 100%;
  background-color: #1287ca;
  padding: 5px 0px;
  font-size: 20px;
}

.th > p {
  color: white;
  font-weight: bolder;
  margin: 0;
}

.tr {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

.td > p {
  margin: 0;
  text-align: left;
  padding: 10px;
}

#footer {
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
}
