#wrapper {
  display: -webkit-flex;
  width: 500px;
  height: 290px;
  border: 2px solid #202020;
}

#watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 0.50;
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
  font-size: 20px;
  font-weight: bolder;
}

#ticket-terminal {
  position: relative;
  width: 200px;
  height: fit-content;
  margin: 20px;
  border: 3px solid #202020;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#tasa-logo {
  width: 200px;
  height: 90px;
  display: -webkit-flex;
}

#logo {
  width: 80px;
  height: 90px;
  object-fit: contain;
}

#tasa-wrapper {
  width: 110px;
  height: 100px;
}

#fecha-destino {
  width: 100%;
  height: 50%;
}

#fecha-destino > p, #footer > p {
  margin: 0;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #202020;
}

#tasa {
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
  text-align: center;
  margin: 0;
}

#monto {
  width: 80px;
  margin: 0px 10px 0px 10px;
  border: 2px solid #202020;
  border-radius: 5px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

#footer {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  position: relative;
}

#QR {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
}

#terminal {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  padding-top: 10px;
  margin: 10px 0px 0px 0px;
}

#overflowing {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}