.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.th.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.border-bottom {
  border-bottom: 1px solid  rgba(0, 0, 0, 0.5);
}
.border-top {
  border-top: 1px solid  rgba(0, 0, 0, 0.5);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.underline {
  text-decoration: underline;
}
.all-border {
  border: 1px solid #000;
}
.th {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 0px;
  font-size: 20px;
}

.th > p {
  font-weight: bolder;
  margin: 0;
  font-size: 16px;
  vertical-align: middle;
}

.title {
  font-weight: bold;
}

.sub-title {
  color: rgba(0, 0, 0, 0.6);
}

.tr {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
.center > p, .center{
  text-align: center !important;
  display: -webkit-flex;
  align-items:center;
  justify-content: center;
  -webkit-align-items:center;
  -webkit-justify-content: center;
}
.end > p, .end{
  text-align: end !important;
  display: -webkit-flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
}

.td > p {
  margin: 0;
  text-align: left;
  padding: 10px;
}
.table {
  width: calc(100% - 4px);
  max-height: 95%;
  margin-top: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.solvencia{
  text-align: justify;
  font-size: 20px;
}

.solvencia b {
  color: #292526;
}

.flex {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
.flex > p, .flex > div {
  flex: 1;
  -webkit-flex: 1;
}

.column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}