<!DOCTYPE html><html lang="es"><head><title>Informacion</title><meta charset="UTF-8"><meta name="viewport" content="width-device-width, initial-scale: 1.0"><meta http-equiv="X-UA-compatible"><style> body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .resaltado {
    font-weight: bold;
  }
  .tab {
    margin-left: 1.5em;
  }</style></head><body><p>Sr(a). <span class="resaltado"></span></p><div><p>La solicitud de <span class="resaltado"></span> con numero de expediente <span class="resaltado"></span> ha sido <span class="resaltado"></span> de manera satisfactoria.</p><p>*** REGULACIÓN DEL USO DE CORREO ELECTRÓNICO DE CPU HACIA INTERNET ***</p><ol><li> La información contenida en este correo electrónico y cualquier
documento adjunto es propiedad exclusiva de CPU, es de carácter
confidencial y no podrá ser objecto de reproducción total o parcial ni
transmitirse de forma alguna por ningún medio.</li><li> Sólo está permitido su recepción y uso a personas debidamente
autorizadas.</li><li> Si usted recibió este correo por error por favor destrúyalo y/o elimine
cualquier copia guardada en su sistema.</li><li> Usted no debe utilizar la información aquí contenida para otro
propósito, ni compartirla con otras personas.</li><li> El incumplimiento de lo antes descrito será sancionado conforme a la
Ley.</li></ol><p>Antes de imprimir ese mensaje, asegúrese de que es necesario. La conservación del medio ambiente está en nuestras manos.</p><p>Atentamente</p><p></p></div></body></html>