<center>
  <table border="0" cellspacing="0" cellpadding="0" align="center" width="520" bgcolor="#ffffff" style="background: #ffffff; min-width: 520px;">
    <tbody>
      <tr>
        <td width="20" bgcolor="#eeeeee" style="background: #eeeeee;"></td>
        <td width="480">
          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td height="20" bgcolor="#eeeeee" style="background: #eeeeee;"></td>
              </tr>
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="border-bottom: 1px solid #eeeeee;">
                    <tbody>
                      <tr>
                        <td height="49"></td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579whom"
                          style="color: #4285f4; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 32px; font-weight: normal; line-height: 46px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          Hola, ${username}
                        </td>
                      </tr>

                      <tr>
                        <td height="20"></td>
                      </tr>

                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579parasec"
                          style="color: #757575; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 17px; font-weight: normal; line-height: 24px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          Gracias por crear una cuenta de DentistApp. Usa este codigo de confirmación con tu administrador para completar el registro:
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579device_txt"
                          style="color: #757575; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 24px; font-weight: normal; line-height: 33px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          ${value}
                        </td>
                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="19" bgcolor="#eeeeee" style="background: #eeeeee;"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="20" bgcolor="#eeeeee" style="background: #eeeeee;"></td>
      </tr>
    </tbody>
  </table>
  <div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
</center>
