<center>
  <style>
    .btn {
      color: #fff;
      background-color: #4285f5;
      border: none;
      border-radius: 15px;
      padding: 5px 15px;
      font-size: 20px;
      margin-top: 10px;
    }
    .btn:hover {
      background-color: #2374ff;
      cursor: pointer;
    }
    .btn:focus {
      background-color: #2374ff;
      outline: none;
    }
  </style>
  <table border="0" cellspacing="0" cellpadding="0" align="center" width="520" bgcolor="#ffffff" style="background: #ffffff; min-width: 520px;">
    <tbody>
      <tr>
        <td width="20" bgcolor="#4285f5" style="background: #4285f5;"></td>
        <td width="480">
          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td height="20" bgcolor="#4285f5" style="background: #4285f5;"></td>
              </tr>
              <tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="border-bottom: 1px solid #4285f5;">
                    <tbody>
                      <tr>
                        <td height="49"></td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579whom"
                          style="color: #4285f4; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 32px; font-weight: normal; line-height: 46px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          Hola, ${username}
                        </td>
                      </tr>

                      <tr>
                        <td height="20"></td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579parasec"
                          style="color: #757575; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 17px; font-weight: normal; line-height: 24px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          Para completar el proceso de recuperación de contraseña, presione recuperar
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579device_txt"
                          style="color: #757575; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 24px; font-weight: normal; line-height: 33px; margin: 0; padding: 0 25px 0 25px; text-align: center;"
                        >
                          <button class="btn"  target='_blank' href=`${link}`>Recuperar</button>
                        </td>
                      </tr>
                      <tr>
                        <td
                          align="center"
                          class="m_-8834691710559868579parasec"
                          style="color: #757575; font-family: 'Roboto', OpenSans, 'Open Sans', Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 24px; margin: 0; padding:10px 25px; text-align: center;"
                        >
                          Si usted no inició un proceso de recuperación de contraseña ignore este correo
                        </td>
                      </tr>                 
                      <tr>
                        <td height="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="19" bgcolor="#4285f5" style="background: #4285f5;"></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td width="20" bgcolor="#4285f5" style="background: #4285f5;"></td>
      </tr>
    </tbody>
  </table>
  <div style="display: none; white-space: nowrap; font: 15px courier; line-height: 0;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </div>
</center>
